
* {
    box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #D9D5C5;
  font-family: 'Josefin Sans', sans-serif;
}


.wrap-vid {
  max-width: 100%;
  margin: 0 auto;
}
.wrap-tscript {
  max-width: 100%;
  margin: 4%;
  color: #402E24;
}


.tscript:hover {
  background-color: #BDB972;
  opacity: 0.8;
  cursor: pointer;
}

.mejs__inner .mejs__controls {
  background: #402E24;
}
.mejs__time-rail .mejs__time-total {
  background: #BF947A;
}
.mejs__time-total .mejs__time-loaded {
  background:#734F43;
}
.mejs__time-total .mejs__time-current {
  background: #BDB972;
}

/* media queries */
@media(min-width:768px) {
  .wrap-vid,
  .wrap-tscript {
      max-width: 75%;
      margin: 3% auto;
      padding-bottom: 8px;
  }
}
